## Importing Libraries

In [60]:
import pandas as pd
import numpy as np
import json

## Reading the dataset

In [5]:
office = pd.read_csv("C:\\Users\\kdarw\\exam\\data-prep-cleaning-vis-llllym\\the_office_lines_scripts.csv")
office

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
...,...,...,...,...,...,...,...
59904,59905,9,23,112,It all seems so very arbitrary. I applied for ...,Creed,False
59905,59906,9,23,113,I just feel lucky that I got a chance to share...,Meredith,False
59906,59907,9,23,114,I���m happy that this was all filmed so I can ...,Phyllis,False
59907,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False
59908,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False

In [7]:
office.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

## Insights into data quality - checking Null values, outliers.

In [10]:
office. describe()

                 id        season       episode         scene
count  59909.000000  59909.000000  59909.000000  59909.000000
mean   29955.000000      5.348178     11.558597     27.143852
std    17294.382975      2.389427      6.986208     17.860616
min        1.000000      1.000000      1.000000      1.000000
25%    14978.000000      3.000000      5.000000     14.000000
50%    29955.000000      5.000000     11.000000     25.000000
75%    44932.000000      7.000000     18.000000     37.000000
max    59909.000000      9.000000     26.000000    116.000000

In [11]:
office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59909 entries, 0 to 59908
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         59909 non-null  int64
 1   season     59909 non-null  int64
 2   episode    59909 non-null  int64
 3   scene      59909 non-null  int64
 4   line_text  59909 non-null  object
 5   speaker    59909 non-null  object
 6   deleted    59909 non-null  bool
dtypes: bool(1), int64(4), object(2)
memory usage: 2.8+ MB

In [13]:
office.isnull().sum()

id           0
season       0
episode      0
scene        0
line_text    0
speaker      0
deleted      0
dtype: int64

## Getting started...

# QUESTION 1 - How many characters are there? What are their names?

In [29]:
character_sum = office.groupby(['speaker']).sum()
character_sum.shape

C:\Users\kdarw\AppData\Local\Temp\ipykernel_43016\508672814.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  character_sum = office.groupby(['speaker']).sum()

(793, 5)

In [98]:
# getting the unique characters
character_count = office['speaker'].unique()

# count the number of characters
number_of_characters = len(character_count)

#printing the results
print(character_count)

['Michael' 'Jim' 'Pam' 'Dwight' 'Jan' 'Michel' 'Todd Packer' 'Phyllis'
 'Stanley' 'Oscar' 'Angela' 'Kevin' 'Ryan' 'Man' 'Roy'
 'Documentary Crew Member' 'Mr. Brown' 'Toby' 'Kelly' 'Meredith'
 'Travel Agent' 'Man on Phone' 'Everybody' 'Lonny' 'Darryl' 'Teammates'
 'Michael and Dwight' 'Warehouse worker' 'Madge' 'Worker' 'Packer'
 'Warehouse Worker' 'Katy' 'Guy at bar' 'Other Guy at Bar' 'Guy At Bar'
 'Pam and Jim' 'Employee' "Chili's Employee" 'Waitress' 'Manager'
 "Kevin's computer" 'Warehouse Guy' 'Warehouse guy' 'Warehouse guys'
 'Video' 'Man in Video' 'Actor' 'Redheaded Actress' "Mr. O'Malley"
 'Albiny' "Pam's Mom" 'Carol' 'Bill' 'Everyone' 'Crowd' 'song' 'Song'
 'Dwight and Michael' 'Sherri' 'Creed' 'Devon' 'Children' 'Kid'
 'Vance Refrigeration Worker #1' 'Vance Refrigeration Worker #2'
 'Hank the Security Guard' 'Ira' "Ryan's Voicemail" 'Master' 'Alyssa'
 'Christian' 'Hostess' 'Michael and Christian' 'Sadiq (IT guy)' 'Mark'
 'Improv Teacher' 'Mary-Beth' 'Girl acting Pregnant' 'Actress'
 'Michael and Jim' 'Kevin & Oscar' 'All' 'Liquor Store Clerk' 'JIm'
 'Bob Vance' 'Phyllis, Meredith, Michael, Kevin' 'Captain Jack' 'Brenda'
 'Darryl and Katy' 'Jim and Pam' 'Billy Merchant' 'Doctor' 'Lab Tech'
 'Dana' "Hooter's Girls" 'Phylis' 'Gil' 'Pam and others' 'Ed' 'Todd'
 "Jim's voicemail" 'Women' 'Guy' 'Men' 'Group chant' 'All the Men'
 'Dwight and Roy' 'Delivery man' 'Craig' 'Josh' 'David' 'Dan'
 'Receptionist' 'Overhead' 'Speaker' 'Jim and Dwight' 'Melissa' 'Sasha'
 'Abby' 'Jake' 'The Kids' 'Kids' 'Miss Trudy' 'Edward R. Meow' 'Chet'
 'Young Michael' 'Delivery Woman' 'Delivery Boy' 'Office Staff'
 'Store Employee' 'Pam/Jim' 'Linda' 'Hank' 'Sheriff' 'I.D. Photographer'
 'Photographer' 'Anglea' 'Female worker' "Billy's Girlfriend" 'Billy'
 'Dealer' 'Bob' "Meredith's Vet" 'Andy' 'Karen' 'Jerome Bettis' 'Ted'
 'Waiter' 'Jim, Josh, and Dwight' 'Evan' 'Alan' 'Ryan and others' 'Hannah'
 'Announcer' 'Pretzel guy' 'Cousin Mose' 'Tony' 'Server' 'Girls'
 "Kelly's Mom" "Kelly's Father" 'Young Man' 'Andy and Jim' 'Mrs. Kapoor'
 'Mr. Kapoor' 'M ichael' 'Dwight:' 'Martin' 'Male voice'
 'Michael & Dwight' 'Andy & Michael' 'Chef' 'Woman at bar' 'Cindy'
 'Second Cindy' 'Other waitress' 'Andy and Michael' 'Both' 'Someone'
 'Harvey' 'Buyer' 'Kenny' 'Julius' 'Phone' 'Staples Guy' 'MIchael' 'Lady'
 'Paris' 'Marcy' 'Ben Franklin' 'Elizabeth' 'Priest' 'Uncle Al' 'Randy'
 'Unknown' 'College Student' 'Business Student #1' 'Business Student #2'
 'Business Student #3' 'Woman' 'Artist' 'Student 1' 'Student 2'
 'Student 3' 'Rachel' 'Dan Gore' 'Bartender' 'Child' 'Hunter' 'Darry'
 'Micheal' 'Larry' 'Chad Lite' 'Jamie' 'Barbara' 'School Official'
 'Barbara Allen' 'Spanish Teacher' 'Denise' 'Group' 'IT Tech Guy' 'Nurse'
 'Intern' 'Pediatrician' 'Robert Dunder' 'Amy' 'GPS' 'Larry Myers'
 'Ex-client' 'Voice of Thomas Dean' 'sAndy' 'DunMiff/sys' 'DwightKSchrute'
 'Tech Guy' 'Angels' 'Pizza guy' 'Voice #1 on phone' 'Voice #2 on phone'
 'Micahel' 'Michae' 'Nick' 'Mose' 'Co-Worker 1' 'Stanely' 'Micael'
 'Vikram' 'Co-Worker 2' 'Co-Worker 3' 'Mr. Figaro' 'Oscar and Stanley'
 'Ad guy 1' 'Ad guy 2' 'David Wallace' 'Andy, Creed, Kevin, Kelly, Darryl'
 'Andy, Creed, Kevin, Kelly' "Michael's Ad" 'Rolando' 'Ben'
 'Security guard' 'Lester' 'Diane Kelly' 'Diane' 'Deposition Reporter'
 'Council' "Hunter's CD" 'Officer 1' 'Officer 2' 'Officer' 'Neighbor'
 "Wendy's phone operator" 'Margaret' 'Coffee shop worker' 'Jan [on phone]'
 'W.B. Jones' 'Paul Faust' 'Bill Cress' 'Paul' 'Michael/Dwight' 'Troy'
 'Girl in Club' 'Tall Girl #1' 'All Girls' 'Tall Girl #2'
 'Girl in 2nd club' 'Cleaning lady' 'Michael and Darryl' 'Phil Maguire'
 'Phil' 'Justin' 'Angela and Dwight' 'Maguire' 'Woman on mic'
 'Graphics guy' 'Brad' 'Air Force recruiter' 'Holly'
 'Woman over speakerphone' 'Vance Refrigeration guy' 'Holy' 'Co-workers'
 'Ronnie' 'Professor' 'Friend' 'JIM9334 [screen name]'
 'Receptionitis15 [screen name]' 'JIM9334' 'Receptionitis15'
 'Michael & Holly' 'Dight' 'Kendall' 'Michael [on phone]' 'Pam [on phone]'
 'Man on phone' 'Hank [the security guard]' 'Guy in audience'
 'Michael and Holly' 'Michael, Holly, and Darryl' 'Tom' 'Pete'
 'Holly & Darryl' 'Holly & Michael' 'Mother' 'Alex' 'Customer'
 'Kevin & Andy' 'Stanley & Phyllis' 'Stewardess' 'Beth' 'Concierge'
 'Marie' 'Guy at table' 'Concierge Marie' 'Client' 'Dacvid Walalce'
 'David Wallcve' 'Dacvid Wallace' 'Leo' 'Vance Refrigeration Guy'
 'Police Officer 1' 'Police Officer 2' 'Guy buying doll' 'Rehab Nurse'
 'Everyone watching' 'Entire Prince family' 'Prince Grandfather'
 'Entire office' 'Prince' 'Prince Granddaughter' 'Prince Grandmother'
 'Prince Son' 'Phyllis and Creed' 'Lawyer' 'CPR trainer' 'CPR Trainer'
 'Rose' 'Jessica Alba' 'Lily' 'Sam' 'Warehouse Michael' 'Julia' 'A.J.'
 'Phone Salesman' 'Jim, Pam, Michael and Dwight' 'Blood Drive Worker'
 'Blood Girl' 'Lynn' 'Blonde' 'Eric' 'Girl' 'Charles' 'Stephanie'
 'Employees' 'Isaac' 'Angela and Kelly' 'Supervisor' 'Michal' 'Nana'
 'Chares' 'Old Woman' 'Erin' 'Dwight and Erin' 'Dwight and Andy'
 'Michael, Pam & Ryan' 'Secretary' 'Automated phone voice' 'Mr. Schofield'
 'Financial Guy' 'Ty' 'Jessica' 'Vance Refrigeration Guy 1'
 'Vance Refrigeration Guy 2' 'VRG 1' 'VRG 2' 'Rolph' 'AJ'
 'Man from Buffalo' 'Woman from Buffalo' 'Dwight & Andy' 'Female Intern'
 'Female intern' 'Maurie' 'Dwight, Jim & Pam' 'Jim & Pam' 'Megan'
 'Gwenneth' 'Front Desk Clerk' 'Mr. Halpert' 'Mema' 'Mr. Beesly'
 'Little Girl' 'Penny' 'Isabel' 'Hotel Employee' 'Hotel Manager'
 "Pam's mom" 'Tom Halpert' 'Pete Halpert' 'Tom and Pete' "Pam's dad"
 'Grotti' 'Andy and Dwight' 'Credit card rep' 'Rep' 'Various'
 'Keena Gifford' 'Helene' "David Wallace's Secretary" 'Voice on CD player'
 'Limo Driver' 'Laurie' 'Registrar' 'Security' 'Woman in line'
 'Man in line' 'Shareholder' 'Female Shareholder' 'Second Shareholder'
 'Third Shareholder' 'Fourth Shareholder' "O'Keefe" 'Mikela' 'Students'
 'Teacher' 'Lefevre' 'Zion' 'Deliveryman' 'Michael and Erin' 'Daryl'
 'Office' 'Kelly and Erin' 'Matt' 'Computron' 'Fake Stanley' 'Gabe'
 'Andy & Erin' 'Christian Slater' 'Jo Bennett' 'Jo' 'Jerry'
 'Teddy Wallace' 'Mrs. Wallace' 'Teddy' 'Dwight, Jim and Michael'
 'Policeman' 'Hospital employee' "(Pam's mom) Heleen" 'Kathy' 'Dale'
 'Clark' 'Isabelle' 'D' 'Warehouse guy 1' 'Warehouse guy 2' 'Reid'
 'Night cleaning crew' 'Meredith, Creed, Oscar and Matt' 'Miichael'
 'Julie' 'Hide' 'Bar Manager' 'Bouncer' 'Girl at table' 'Cookie Monster'
 'Dwight.' "Hayworth's waiter" "Oscar's voice from the computer" 'Donna'
 'Michael and Donna' 'Mihael' 'Old lady' 'Glen' 'Gym Instructor'
 'Gym instructor' 'Dwight and Angela' 'Shane' 'Reporter' 'Realtor' 'Luke'
 'Window treatment guy' 'Angel' 'Salesman' 'Usher' 'Shelby' 'Sweeney Todd'
 'Mexican Man' 'Son' 'Nate' 'Employees except Dwight' 'Astrid' 'Carroll'
 'Carrol' 'Danny' 'Steve' 'Darryl and Andy' 'Church congregation' 'Pastor'
 'Female church member' 'Male church member'
 'Female church member [to Michael]' 'Doug [church member]' 'Doug'
 'Mee-Maw' 'MeeMaw' 'Carla' "Jim's Dad" 'Bus driver' 'Michael and Andy'
 'Another guy' 'Radio' 'Cece' 'TV' 'Meridith' 'Robotic Voice'
 'Ryan and Michael' 'Phyliss' 'Dwight & Nate' 'Passer-by' 'Bass Player'
 'Justine' 'Jada' 'Robert' 'Darrly' 'Member' 'Video Michael'
 'Bookstore employee' 'DJ' 'David Brent' 'Older guy'
 'Phyllis, Stanley, Dwight' 'Younger Guy' 'Older Woman' 'Professor Powell'
 'Ryan and Kelly' 'Helen' 'Attendant' 'Hot Dog Guy'
 'Cell Phone Sales Person' 'Boom Box' 'Andy and Erin' "Holly's Mom"
 "Holly's Dad" 'Deangelo' 'Deangelo/Michael' 'Denagelo' "Darryl's sister"
 'DeAngelo' 'Audience' 'Together' 'Erin and Kelly' 'abe' 'Rory' 'DeAgnelo'
 'Jordan' 'Dwight [on phone]' 'Mose [on phone]' 'All but Oscar'
 'Darryl and Angela' 'Fred Henry' 'Fred' 'Warren Buffett' 'Warren'
 'Robert California' 'Merv Bronte' 'Merv' 'Nellie Bertram' 'Nellie'
 'Finger Lakes Guy' 'Pam as fourth-biggest client'
 'Pam as ninth-biggest client' 'Darryl & Oscar' 'Tattoo Artist'
 'Female Applicant' 'Male Applicant 1' 'Male Applicant 2' 'Gideon' 'Bruce'
 'Dwight, Erin, Jim & Kevin' 'Walter' 'Ellen' 'Walter Jr' 'Andy & Walter'
 'Walter & Walter Jr' "Erin's Cell Phone" 'Bert' 'Gabe/Kelly/Toby'
 'Andy/Pam' 'Andy/Stanley' 'Val' 'Warehouse Crew' 'Cathy' 'Offscreen'
 'Curtis' 'Drummer' 'Pam and Kelly' 'Old Man' 'Andy and Darryl'
 'Darryl and Kevin' 'Park Ranger' 'Chelsea' 'Archivist' 'Narrator'
 'Soldier' 'Amanda' 'Susan' 'Andy/Oscar' "Bob's Secretary"
 'Mrs. California' 'Host' 'Queerenstein Bears' "Oscar's friend" 'Stu'
 'Stonewall Host' 'Meredith & Kelly' 'Einsteins' 'Senator Lipton'
 'Ernesto' 'Officer Foley' 'Andy, Darryl & Officer Foley' 'Saleswoman'
 'Emergency Operator' 'Paramedic' 'Donna Muraski' 'Wally Amos'
 'Angela/Pam' 'Brandon' 'Blogger' 'Blogger 2' 'Lady Blogger' 'Patty'
 'Old Lady' 'Others' 'Elderly Woman' 'Irene' 'Alonzo' 'Glenn'
 'Erin and Irene' 'Kevin & Meredith' 'Lauren' 'Party guests' 'Magician'
 'Ravi' 'Robert & Creed' 'Wrangler' 'Senator' 'Vet' 'Harry' 'Mr. Ramish'
 'Calvin' 'Off-camera' 'Rafe' 'Fake Jim' 'Voicemail' 'Nellie and Pam'
 'Group: Dunder Mifflin!\nAndy: Andy Bernard presents: Summer Softball Epic Fails! [Kevin swings bat on screen, fart noise follows] Fail. [repeats] Fail'
 '[repeats]\nAndy: Fail'
 "[Clark and Pete are shown on screen]\nVideo Andy: Hey, I'm Pete, puberty is such a drag, man. And I'm Clark! I like to eat toilet paper. [Clark and Pete wave at camera] We fail! [Video shows memorial of Jerry"
 'Phyllis, Kevin & Stanley' 'HCT' 'HCT Member #1' 'HCT Member #2'
 'Broccoli Rob' 'Businessman #1' 'Businessman #2' 'Businessman #3'
 'HCT Member #3' 'White' 'Boat Guy' 'Walt Jr.' 'Senator Liptop'
 'Guys in breakroom' 'Business partner' 'Molly' 'Colin' 'Trevor'
 'Julius Irving' 'New Instant Message' 'Suit Store Father'
 'Athlead Employee' 'Dennis' 'Wade' 'Suit Store Son'
 'Female Athlead Employee' '3rd Athlead Employee' '4th Athlead Employee'
 'Co-worker' 'Co-worker #2' 'Mr. Romanko' 'Dance Teacher' 'Ballerinas'
 'Parent in Audience' 'Parent in audience #2' 'Parent in audience #1'
 'Investor' 'Lonnie' 'Fast Food Worker' 'Drive Thru Customer' 'Brian'
 'Cameraman' 'Rolf' 'Gabor' 'Zeke' 'Melvina' 'Wolf' 'Sensei Ira'
 'Pam & Dwight' 'Frank' 'Party Announcer' 'Party Guest'
 'Party Photographer' 'Party Waiter' 'Nail stylist 1' 'Nail stylist 2'
 'Nail manager' 'Shirley' 'Athlead Coworker' 'Roger' 'Alice'
 "Oscar's Computer" 'Jeb' 'German Minister' 'Fannie' 'Henry' 'Esther'
 'Aunt Shirley' 'Cameron' 'Promo Voice' 'Ryan Howard' 'Mr. Ruger'
 'Promo Announcer' 'Ruger Sister 1' 'Salesmen' 'Ruger Sister 2'
 'Angela & Oscar' 'Reporter #1' 'Reporter #2' 'Mrs. Davis' 'Phillip'
 'Carla Fern' 'Director' 'Producer' 'Bob Vance, Vance Refrigeration'
 'Production Assistant' 'Sensei' 'Philip' 'Check-in guy' 'Casey'
 'Mark McGrath' 'Jim & Dwight' 'Camera Crew' 'People in line' 'Santigold'
 'Aaron Rodgers' 'Clay Aiken' 'CameraMan' 'Malcolm' 'Casey Dean'
 'Bill Hader' 'Seth Mayers' 'Dakota' 'Stripper' 'Jakey' 'Man 1' 'Woman 1'
 'Woman 2' 'Man 2' 'Moderator' 'Man 3' 'Woman 3' 'Woman 4' 'Joan'
 'Minister' 'Carol Stills']

In [100]:
# Number of characters
print(number_of_characters)

793

# QUESTION 2 - For each character, find out who has the most lines across all episodes

Logic
1. groupby 'speaker' iterate through all the lines while counting.

In [49]:
# For reference...
office.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [58]:
# Group the data by 'speaker' and count the number of lines for each character
most_lines = office.groupby('speaker')['line_text'].count()
most_lines.sort_values(ascending = False)

speaker
Michael             12140
Dwight               7531
Jim                  6816
Pam                  5376
Andy                 3968
                    ...
Kevin & Meredith        1
Kevin & Andy            1
Julius Irving           1
Jo Bennett              1
song                    1
Name: line_text, Length: 793, dtype: int64

## QUESTION 3 - What is the average of words per line for each character?

In [61]:
# Load the list of stopwords
with open("C:\\Users\\kdarw\\exam\\data-prep-cleaning-vis-llllym\\stopwords.json", 'r') as file:
    stopwords = json.load(file)

# Define a function to count non-stopwords
def count_non_stopwords(line):
    words = line.split()
    non_stopwords = [word for word in words if word.lower() not in stopwords]
    return len(non_stopwords)


# Apply the function to count non-stopwords for each line
office['non_stopword_count'] = office['line_text'].apply(count_non_stopwords)

# Calculate the total number of non-stopwords per speaker
total_non_stopwords_per_speaker = office.groupby('speaker')['non_stopword_count'].sum()

# Calculate the number of lines per speaker (as before)
lines_per_speaker = office.groupby('speaker')['line_text'].count()

# Calculate the average non-stopwords per line for each speaker
average_non_stopwords_per_line = total_non_stopwords_per_speaker / lines_per_speaker

# Sort the average non-stopwords per line in descending order (optional)
sorted_average_non_stopwords = average_non_stopwords_per_line.sort_values(ascending=False)

# Print the sorted averages
print(sorted_average_non_stopwords)

speaker
Michael's Ad                80.0
Amanda                      40.0
Promo Voice                 31.0
MIchael                     30.0
David Brent                 30.0
                            ...
Concierge Marie              1.0
College Student              1.0
Phyllis, Stanley, Dwight     1.0
(Pam's mom) Heleen           1.0
Wade                         0.0
Length: 793, dtype: float64

## QUESTION 4-  What is the most common word per character

In [62]:
office.head()

,id,season,episode,scene,line_text,speaker,deleted,non_stopword_count
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,5
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,6
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,4
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,4
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,3

In [ ]:
groupby('speaker')['']

## QUESTION 5 - Number of episodes where the character does not have a line, for each character

In [64]:
office.head()

,id,season,episode,scene,line_text,speaker,deleted,non_stopword_count
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False,5
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False,6
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False,4
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False,4
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False,3

In [69]:
# first counting the total number of episodes
total_episodes = office['episode'].nunique()
total_episodes

# counting number of lines for each character in each episode
lines = office.groupby(['speaker','episode']).size().unstack(fill_value = 0)
lines

episode,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,25,26
speaker,,,,,,,,,,,,,,,,,,,,,
(Pam's mom) Heleen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3rd Athlead Employee,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4th Athlead Employee,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.J.,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AJ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"[Clark and Pete are shown on screen]\nVideo Andy: Hey, I'm Pete, puberty is such a drag, man. And I'm Clark! I like to eat toilet paper. [Clark and Pete wave at camera] We fail! [Video shows memorial of Jerry",0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
[repeats]\nAndy: Fail,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
sAndy,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
song,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
# In the above pivot table '0' indicates no dialogue for that particular character.
no_lines = (lines==0).sum()
print(no_lines)

episode
1     717
2     724
3     734
4     694
5     708
6     726
7     707
8     731
9     729
10    712
11    711
12    711
13    702
14    712
15    727
16    712
17    722
18    727
19    726
20    716
21    738
22    724
23    714
24    740
25    770
26    768
dtype: int64

In [72]:
# Group the data by 'speaker' and 'episode' and count the number of lines for each character in each episode
lines_per_character_per_episode = office.groupby(['speaker', 'episode']).size().unstack(fill_value=0)

# Count the number of episodes in the dataset
total_episodes = office['episode'].nunique()

# Count the number of episodes where each character does not have a line
episodes_no_lines_per_character = (lines_per_character_per_episode == 0).sum()

# Print the number of episodes where each character does not have a line
print(episodes_no_lines_per_character)

episode
1     717
2     724
3     734
4     694
5     708
6     726
7     707
8     731
9     729
10    712
11    711
12    711
13    702
14    712
15    727
16    712
17    722
18    727
19    726
20    716
21    738
22    724
23    714
24    740
25    770
26    768
dtype: int64

## QUESTION 6- Number of time "That's what she said" joke comes up
##  Include five examples of the joke

In [85]:
# Count the number of times "That's what she said" appears in the 'line_text' column
twss_jokes = office[office['line_text'].str.contains("That's what she said", case=False)]
twss_count = len(twss_jokes)
# Print the count
print(twss_count)

37

In [87]:
# Display five examples of the joke
print("\nFive examples of the joke:")
for idx, joke in twss_jokes.head(5).iterrows():
    print(f"{joke['speaker']}: {joke['line_text']}")

Five examples of the joke:
Michael: That's what she said. Pam?
Jim: Does that include 'That's What She Said'?
Michael: THAT'S WHAT SHE SAID!
Michael: A, that's what she said, and B, I wanted it to be impressive. The biggest day of the year deserves the biggest tree of the year.
Dwight: That's what she said.

## QUESTION 7 - The average percent of lines each character contributed each episode per season.

# Each character contribution per each episode per season in %
1. Total number of lines per each episode per season.
2. Total number of lines spoken by each speaker per episode per season.
3. step2 / step 1 = gives %

In [93]:

# Grouping the data by season, episode, and speaker, and count the lines each character contributed
lines_per_character_per_episode = office.groupby(['season', 'episode', 'speaker']).size().reset_index(name='lines')
lines_per_character_per_episode

      season  episode                  speaker  lines
0          1        1                   Angela      5
1          1        1  Documentary Crew Member      3
2          1        1                   Dwight     35
3          1        1                      Jan     12
4          1        1                      Jim     37
...      ...      ...                      ...    ...
4108       9       23                  Woman 1      1
4109       9       23                  Woman 2      2
4110       9       23                  Woman 3      1
4111       9       23                  Woman 4      2
4112       9       23                     Zeke      2

[4113 rows x 4 columns]

In [94]:
# total lines in a episode
total_lines_per_episode = lines_per_character_per_episode.groupby(['season', 'episode'])['lines'].sum().reset_index(name='total_lines')
total_lines_per_episode

     season  episode  total_lines
0         1        1          270
1         1        2          297
2         1        3          324
3         1        4          360
4         1        5          312
..      ...      ...          ...
181       9       19          273
182       9       20          234
183       9       21          382
184       9       22          501
185       9       23          522

[186 rows x 3 columns]

In [95]:
# Merge the two DataFrames on season and episode
merged_df = pd.merge(lines_per_character_per_episode, total_lines_per_episode, on=['season', 'episode'])
merged_df

      season  episode                  speaker  lines  total_lines
0          1        1                   Angela      5          270
1          1        1  Documentary Crew Member      3          270
2          1        1                   Dwight     35          270
3          1        1                      Jan     12          270
4          1        1                      Jim     37          270
...      ...      ...                      ...    ...          ...
4108       9       23                  Woman 1      1          522
4109       9       23                  Woman 2      2          522
4110       9       23                  Woman 3      1          522
4111       9       23                  Woman 4      2          522
4112       9       23                     Zeke      2          522

[4113 rows x 5 columns]

In [96]:
# Calculate the percentage of lines each character contributed in each episode
merged_df['percentage'] = (merged_df['lines'] / merged_df['total_lines']) * 100

In [97]:
# Calculate the average percentage of lines each character contributed per season
average_percentage_per_season = merged_df.groupby(['season', 'speaker'])['percentage'].mean().reset_index()

# Print the average percentage of lines each character contributed each episode per season
print(average_percentage_per_season)

      season                                            speaker  percentage
0          1                                             Angela    1.642963
1          1                                             Darryl    5.448718
2          1                            Documentary Crew Member    1.111111
3          1                                             Dwight   16.455294
4          1                                          Everybody    1.153846
...      ...                                                ...         ...
1174       9                                            Woman 4    0.383142
1175       9                                             Worker    0.395257
1176       9                                               Zeke    1.975474
1177       9  [Clark and Pete are shown on screen]\nVideo An...    0.316456
1178       9                              [repeats]\nAndy: Fail    0.316456

[1179 rows x 3 columns]

## QUESTION 8 - Come up with 2-3 interesting questions yourself surrounding the dataset

1. Any character who only appear in a single episode?
2. Which episode has the most lines spoken by a single character?

## -----------------------------------------THE END-----------------------------------------------------------